<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estado.style.css">
    <title>Estado</title>
</head>
<body>
    <%- include('partials/menu.ejs') %>

    <h1>FALTA</h1>
    <div class="table-conteiner">
        <table>
            <thead>
                <tr>
                    <th class="th-codigo">Codigo</th>
                    <th class="th-estado">Estado</th>
                    <th class="th-paciente">Paciente</th>
                    <th class="th-doctor">Doctor</th>
                    <th class="th-fecha">fecha</th>
                    
                </tr>
            </thead>
            <tbody>

                    <tr>
                        <td><%= table_codigo %></td>
                        <td><%= table_estado %></td>
                        <td><%= nombre_paciente %></td>
                        <td><%= nombre_doctor %></td>
                        <td><%= fecha %></td>
                    </tr>

    
            </tbody>
        </table>
    </div>

    <h1>Todas las consultas</h1>
    <div class="table-conteiner">
        <table>
            <thead>
                <tr>
                    <th class="th-codigo">Codigo</th>
                    <th class="th-estado">Estado</th>
                    <th class="th-paciente">Paciente</th>
                    <th class="th-doctor">Doctor</th>
                    <th class="th-fecha">Fecha</th>
                </tr>
            </thead>
            <tbody>
                <% codigo.forEach((codigo, index) => { %>
                <tr>
                    <td><%= codigo %></td>
                    <td><%= lista_estado[index] %></td>
                    <td><%= lista_nombre[index] %></td>
                    <td><%= lista_doctores[index] %></td>
                    <td><%= lista_fechas1[index] %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        </div>

</body>
</html>