<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Encabezado y enlaces a archivos CSS y JS -->
  </head>

  <body>
    <!-- Contenido de la página -->

    <%- include('partials/menu.ejs') %>

    <div class="consulta">
      <form class="consulta-form" action="" method="post">
        <h2>Consultar Cita</h2>
        <div class="inputs">
          <select class="especialidad" name="especialidad" id="especialidad">
            <% especialidades.forEach(especialidad => { %>
              <option value="<%= especialidad %>"><%= especialidad %></option>
            <% }) %>
          </select>

          <select name="doctor" id="doctor">
            <% if (typeof doctoresPorEspecialidad !== 'undefined') {
              const especialidadSeleccionada = especialidades[0]; // Especialidad seleccionada por defecto
              const doctores = doctoresPorEspecialidad[especialidadSeleccionada] || [];
              doctores.forEach(nombreDoctor => { %>
                <option value="<%= nombreDoctor %>"><%= nombreDoctor %></option>
              <% });
            } %>
          </select>

          <input class="fecha" name="fecha" type="date" id="fecha" min="<%= fechaActual %>" value="<%= fechaActual %>" />
          <button class="btn-enviar" type="submit">consultar</button>
        </div>
      </form>
    </div>

    <script>
      
    </script>
  </body>
</html>
