<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <%- include('partials/menu.ejs') %>
    <div class="consulta">
      <form action="" method="post">
        <select name="especialidad" id="especialidad">
          <% rows_doctor.forEach(function(especialidad) { %>
          <option value="<%= especialidad.especialidad %>">
            <%= especialidad.especialidad %>
          </option>
          <% }); %>
        </select>

        <div id="ctn-bars-search">
          <input type="text" name="doctor" id="doctor" placeholder="Nombre del Doctor" />
        </div>

        <ul id="caja-busqueda">
          <% rows_doctor.forEach(function(nombre) { %>
          <li>
            <a class="busqueda-item"><%= nombre.nombre %></a>
          </li>
          <% }); %>
        </ul>

        <div id="cover-ctn-search"></div>

        <input name="fecha" type="date" id="fecha" min="<%= fechaActual%>" value="<%= fechaActual %>" />

        <button type="submit">consultar</button>
      </form>
    </div>
  </body>

  <script>
    const input = document.getElementById("doctor");
    const boxSearch = document.getElementById("caja-busqueda");
    const elemento=document.getElementsByClassName("busqueda-item")

    for(let i=0;i<elemento.length;i++){
      elemento[i].addEventListener("click",function(event){
        const clickeado=event.target.textContent
        input.value=clickeado
      })
    }

    input.addEventListener("input", function (event) {
      const filtro = event.target.value.toUpperCase();
      const lis = boxSearch.getElementsByTagName("li");

      // Filtrar elementos
      for (let i = 0; i < lis.length; i++) {
        const a = lis[i].getElementsByTagName("a")[0];
        const textValue = a.textContent || a.innerText;

        if (textValue.toUpperCase().indexOf(filtro) > -1) {
          lis[i].style.display = "";
          boxSearch.style.display = "block";
          if (event.target.value===""){
            boxSearch.style.display="none"
          }
        } else {
          lis[i].style.display = "none";
        }
      }
    });
  </script>
</html>
