<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="../styles/estado.style.css">
    <title>Estado</title>
</head>
<body>
    <%- include('partials/menu.ejs') %>

    <form method="post">
        <label for="">buscar</label>
        <input type="text" id="codigo" name="codigo">
        <button type="submit">buscar</button>
    </form>

    <h1>Tu consulta</h1>
    <div class="table-conteiner">
        <table>
            <thead>
                <tr>
                    <th class="th-codigo">Codigo</th>
                    <th class="th-estado">Estado</th>
                    <th class="th-paciente">Paciente</th>
                    <th class="th-doctor">Doctor</th>
                    <th class="th-fecha">Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= tabla_completa[0].codigo %></td>
                    <td class='<%= tabla_completa[0].estado == 0 ? "atendiendo" : "atendido"  %>'><%= tabla_completa[0].estado == 0 ? "atendiendo" : "atendido"  %></td>
                    <td><%= tabla_completa[0].nombre %></td>
                    <td><%= tabla_completa[0].doctor %></td>
                    <td><%= (tabla_completa[0].fecha).toString().substring(0, 10) %></td>
                </tr>
            </tbody>
        </table>
    </div>


</body>
</html>